{% extends "model-page.html" %}

{% block content %}
<h2>Redefinir senha</h2>

    <form method="POST">
        {% csrf_token %}
        <label>Nova senha:</label><br>
        <input type="password" name="senha1" required><br><br>

        <label>Confirmar nova senha:</label><br>
        <input type="password" name="senha2" required><br><br>

        <button type="submit">Alterar senha</button>
    </form>

    {% for message in messages %}
        <p style="color:red;">{{ message }}</p>
    {% endfor %}
{% endblock%}