{% extends "model-page.html" %}

{% block content %}
    <div align="right">
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>
    <h1>Usuários</h1>
    <div align="left">
        {% if user.is_superuser %}
        <a href="{% url 'criar_usuario' %}">
            <button>Criar Usuário</button>
        </a>
        {% endif %}
        <a href="{% url 'home' %}">
            <button>Voltar</button>
        </a>
    </div>
    <br><br><br>

    <div align="center">
        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Ativo</th>
                <th>Admin</th>
                <th></th>
            </tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.is_active }}</td>
                    <td>{{ usuario.is_superuser }}</td>
                    <td>
                        {% if user.is_superuser %}
                        <a href="{% url 'editar_usuario' usuario.id %}">
                            <button>Editar</button>
                        </a>


                        <a href="{% url 'deletar_usuario' usuario.id %}">
                            <button>Excluir</button>
                        </a>
                        {% endif %}
                    </td>
                    </th>

                </tr>

            {% endfor %}

        </table>
    </div>



{% endblock %}