{% extends "core/model-page.html" %}

{% block content %}
    <h1 class="text-center container mt-5 ">Usuários</h1>
    <div class="container-fluid col-10 w-0">
        {% if user.is_superuser %}
            <a href="{% url 'criar_usuario' %}">
                <button type="button" class="btn btn-primary btn-sm">Criar Usuário</button>
            </a>
        {% endif %}
        <a href="{% url 'home' %}">
            <button type="button" class="btn btn-light btn-sm">Voltar</button>
        </a>
    </div>
    <br><br><br>
    <div class="offset-md-1">
        <table class="table">
            <thead class="thead-dark ">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Ativo</th>
                <th scope="col">Admin</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.is_active }}</td>
                    <td>{{ usuario.is_superuser }}</td>
                    <td>
                        {% if user.is_superuser %}
                            <a href="{% url 'editar_usuario' usuario.id %}">
                                <button type="button" class="btn btn-secondary btn-sm ">Editar</button>
                            </a>
                            <a href="{% url 'deletar_usuario' usuario.id %}">
                                <button type="button" class="btn btn-danger btn-sm">Excluir</button>
                            </a>
                        {% endif %}

                    </td>
            {% endfor %}
        </table>
        <div class="container col-4 mt-5">
            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}