{% extends "core/model-page.html" %}

{% block content %}

<div class="container mt-5 col-md-3">
    <h1 class=" mb-5">{% if usuario %}Editar Usuário{% else %}Criar Usuário{% endif %}</h1>

    <form method="POST">
        {% csrf_token %}
    <div class="container-fluid">
    
        <label>Username:</label>
        <input class="" type="text" name="username" value="{% if usuario %}{{ usuario.username }}{% endif %}"
                   required><br><br>

        <label>Email:</label>
        <input class="" type="email" name="email" value="{% if usuario %}{{ usuario.email }}{% endif %}" required><br><br>

        <label>Senha:</label>
        <input class="" type="password" name="password" placeholder="{% if usuario %}Deixe em branco para não alterar {% else %} {% endif %}"><br><br>
    </div>
    
            <button class="btn btn-primary" type="submit">{% if usuario %}Atualizar{% else %}Criar{% endif %}</button>
    </form>
    <br>
        <a href="{% url 'listar_usuarios' %}">
            <button class="btn btn-light" >Voltar</button>
        </a>
</div>
{% endblock %}