{% extends "model-page.html" %}

{% block content %}
    <div align="right">
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>


    <h1 align="center">Painel Principal</h1>
    <div align="center">
        <p>
            <a href="{% url 'listar_usuarios' %}">
                <button>Gestão de Usuários</button>
            </a>
        </p>
        <p>
            <a href="{% url 'listar_estoque' %}">
                <button>Gestão de Estoque</button>
            </a>
        </p>
        <p>
            <a href="{% url 'registrar_movimentacao' %}">
                <button>Registrar movimentação</button>
            </a>
        </p>
        <p>
                <a href="{% url 'listar_movimentacao' %}">
                    <button>Movimentações</button>
                </a>
        </p>
    </div>

{% endblock %}