<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="submit" method="POST">{% csrf_token %}
    <div align="center">
        <h1>Login</h1><br><br>
            <label>Usuário:</label>
            <input type="text" name="username" id="username"><br><br>

            <label>Senha:</label>
            <input type="password" name="password" id="password"><br><br>
            <button type="submit">Entrar</button>

            <p><a href="{% url 'pedido_reset_senha' %}">Esqueceu sua senha?</a></p><br>
    </div>
    </form>
    <br>
    {% for message in messages %}
    <div align="center">
        <strong></strong> {{ message }}
    </div>
    {% endfor %}
</body>
</html>