{% extends "model-page.html" %}

{% block content %}
    <div align="right">
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>
    <h1>Produtos</h1>
    <div align="left">
    <a href="{% url 'criar_produto' %}">
        <button>Criar Produto</button>
    </a>
    <a href="{% url 'home' %}">
        <button>Voltar</button>
    </a>
    </div>
    <br><br><br>
    <div align="center">
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>quantidade</th>
            <th>Imagem do produto</th>
            <th>Anexo</th>
            <th>Localização</th>
            <th>Descrição</th>
            <th></th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>
            {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" alt="Imagem do produto" width="80">
            {% else %}
                Sem imagem
            {% endif %}
            </td>
            <td>
               {% if produto.datasheet %}
                    <a href="{{ produto.datasheet.url }}" download>Baixar PDF</a>
                {% else %}
                    Nenhum anexo
                {% endif %}
            </td>
            <td>{{ produto.localizacao }}</td>
            <td>{{ produto.descricao }}</td>
                <td>
                   <a href="{% url 'editar_produto' produto.id %}">
                        <button>Editar</button>
                    </a>


                   <a href="{% url 'deletar_produto' produto.id %}">
                        <button>Excluir</button>
                    </a>
                </td>
                </th>

        </tr>

        {% endfor %}

    </table>
    <br>
    </div>



{% endblock %}