{% extends "model-page.html" %}

{% block content %}
<div align="center">
 <h1>{% if usuario %}Editar Produto{% else %}Criar Produto{% endif %}</h1>

    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" value="{% if usuario %}{{ produto.nome }}{% endif %}" required><br>

        <label>Email:</label>
        <input type="text" name="email" value="{% if usuario %}{{ produto.quantidade }}{% endif %}" required><br>

        <label>Email:</label>
        <input type="img" name="imagem" value="{% if usuario %}{{ produto.imagem }}{% endif %}" required><br>

        <label>Email:</label>
        <input type="text" name="datasheet" value="{% if usuario %}{{ produto.datasheet }}{% endif %}" required><br>

        <label>Email:</label>
        <input type="text" name="localizacao" value="{% if usuario %}{{ produto.localizacao }}{% endif %}" required><br>

        <label>Email:</label>
        <input type="text" name="descricao" value="{% if usuario %}{{ produto.descricao }}{% endif %}" required><br>

        <label>Senha:</label>
        <input type="password" name="senha" placeholder="Deixe em branco para não alterar"><br><br>

        <button type="submit">{% if produto %}Atualizar{% else %}Criar{% endif %}</button>
    </form>
<br>
    <a href="{% url 'listar_produtos' %}">
        <button>Voltar</button>
    </a>
</div>
{% endblock %}