{% extends "core/model-page.html" %}

{% block content %}
<h1 class="text-center container mt-5 ">Movimentações de Produtos</h1>
<div class="container-fluid col-10 w-0">
    <a href="{% url 'registrar_movimentacao' %}">
        <button class="btn btn-primary btn-sm">Registrar Movimentação</button>
    </a>
    <a href="{% url 'home' %}">
        <button class="btn btn-light btn-sm">Voltar</button>
    </a>
</div>

<div class="offset-md-1">
    <table class="table">
        <thead class="thead-dark ">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Produto</th>
            <th scope="col">Tipo</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Estoque Atual</th>
            <th scope="col">Data</th>
            <th scope="col">Imagem</th>
            <th scope="col">Anexo</th>
            <th scope="col">Localização</th>
            <th scope="col">Descrição</th>
        </tr>
        </thead>
        {% for movimentacao in movimentacoes %}
            <tr>
                <td>{{ movimentacao.id }}</td>
                <td>{{ movimentacao.produto.nome }}</td>
                <td>{{ movimentacao.tipo }}</td>
                <td>{{ movimentacao.quantidade }}</td>
                <td>{{ movimentacao.produto.quantidade }}</td>
                <td>{{ movimentacao.data }}</td>
                <td>
                    {% if movimentacao.produto.imagem %}
                        <img src="{{ movimentacao.produto.imagem.url }}" alt="Imagem" width="50" style="transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'">
                    {% else %}
                        Sem imagem
                    {% endif %}
                </td>
                <td>
                    {% if movimentacao.produto.datasheet %}
                        <a href="{{ movimentacao.produto.datasheet.url }}" download>Baixar PDF</a>
                    {% else %}
                        Nenhum anexo
                    {% endif %}
                </td>
                <td>{{ movimentacao.produto.localizacao }}</td>
                <td>{{ movimentacao.produto.descricao }}</td>
            </tr>
            {% empty %}
            {% endfor %}

    </table>
</div>
    <div>
        {% if messages %}
        <ul>
            {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}